{:paths ["src" "test"]
 :tasks {test {:task (load-file "run_tests.clj")}}
 :deps {kotoba-lang/kotoba-datom
        {:git/url "https://github.com/kotoba-lang/kotoba-datom.git"
         :git/sha "65189be44e3753f7a997faadab160ba60720737c"}
        com.etzhayyim/moyai-ledger
        {:git/url "https://github.com/etzhayyim/com-etzhayyim-moyai-ledger.git"
         :git/sha "e379b5b84c29d219750828954610ae572702a28b"}
        com.etzhayyim/social-publication
        {:git/url "https://github.com/etzhayyim/com-etzhayyim-social-publication.git"
         :git/sha "e8127d0661284b1c12ce1b216c84b5ed2db619ab"}}}
