{:schema/version 1
 :dependencies [{:id "kotoba-lang/kotoba-datom" :revision "65189be44e3753f7a997faadab160ba60720737c"}
                {:id "com-etzhayyim-moyai-ledger" :revision "e379b5b84c29d219750828954610ae572702a28b"}
                {:id "com-etzhayyim-social-publication" :revision "e8127d0661284b1c12ce1b216c84b5ed2db619ab"}]}
